<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      TES HTML
    </title>

  </head>
  <body>
    <div class='device-data'>
      <pre>Serial Number      : {{ devices.0 }}</pre>
      {% comment %} <pre>Model              : {{ devices.0.model }}</pre>
      <pre>Product            : {{ devices.0.product }}</pre>
      <pre>SDK                : {{ devices.0.sdk }}</pre>
      <pre>Operator           : {{ devices.0.operator }}</pre>
      <pre>SELinux            : {{ devices.0.SELinux }}</pre>
      <pre>Timezone           : {{ devices.0.timezone }}</pre>
      <pre>Security Patch     : {{ devices.0.security_patch }}</pre>
      <pre>API Level          : {{ devices.0.api_level }}</pre>
      <pre>SSID               : {{ devices.0.network.ssid }}</pre>
      <pre>Battery            : {{ devices.0.battery.level }}%</pre>
      <pre>Screen             : {{ devices.0.screen.width }} x {{ devices.0.screen.height }}</pre> {% endcomment %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <script>
      $.ajax({
        url: 'devices',
        type: 'GET',
        dataType: 'json',
        success: function(data) { 
          var context = { devices: data };``
          console.log('Context =>', context)
        }
      })
    </script>
  </body>
</html>